<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FlipkartTestSuite">
    <test name="FlipkartTestCases">
        <classes>
            <class name="demo.TestCases">
                <methods>
                    <include name="testCase01"/>
                    <include name="testCase02"/>
                    <include name="testCase03"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
